/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */
* {
	font-size: 13px;
	font-family: Font JetBrainsMonoMedium, sans-serif;
        font-weight: normal;
}

window#waybar {
	background: #0d0d12;
	opacity: 0.7;
    border-bottom: 0px solid rgba(26,27,38,0);
    border-radius: 0px;
	color: #a7b3bc;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */
#workspaces {
    background: #343b58;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    border-radius: 5px;
    font-style: normal;
    color: #ffffff;
}

#workspaces button {
    padding: 0px 0px;
    margin: 2px 2px;
    color: #0d0d12;
    background-color: #343b58;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: #ffffff;
    background: #475078;
    border-radius: 7px;
    min-width: 30px;
    transition: all 0.3s ease-in-out;
    opacity: 1.0;
}

#workspaces button:hover {
    color: #ffffff;
    background: #475078;
    border-radius: 7px;
    opacity: 1.0;
}


/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */
tooltip {
  background: #0f0e13;
  border: 1px solid #6181c5;
  border-radius: 10px;
}

tooltip label {
  color: #c0caf5;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */
#window {
    color: #a7b3bc;
    background: #0d0d12;
    border-radius: 5px;
    margin: 2px;
    padding: 1px 10px;
}

#memory {
    color: #ffffff;
    background: #475078;
    border-radius: 5px;
    margin: 5px;
    padding: 2px 10px;
}

#clock {
    color: #a7b3bc;
    background: #0d0d12;
    border-radius: 5px;
    margin: 1px 4px 1px 1px;
    padding: 0px 10px;
}

#cpu {
    color: #ffffff;
    background: #475078;
    border-radius: 5px;
    margin: 5px;
    padding: 2px 10px;
}

#disk {
    color: #ffffff;
    background: #475078;
    border-radius: 5px;
    margin: 5px;
    padding: 2px 10px;
}

custom#update {
    color: #A7B3BC;
    background: #0d0d12;
    border-radius: 5px;
    margin: 1px 4px 1px 1px;
    padding: 0px 10px;
}

#tray {
    color: #ffffff;
    background: #0d0d12;
    border-radius: 5px;
    margin: 1px 4px 1px 1px;
    padding: 0px 10px;
}

#pulseaudio {
    color: #a7b3bc;
    background: #0d0d12;
    border-radius: 5px;
    margin: 1px 4px 1px 1px;
    padding: 0px 10px;
}

