[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/pc10/Área de trabalho/chrome-nialdiijdhgljmojlpkncdmhbejepckl-Default.desktop]
row=1
col=0

[/home/pc10/Área de trabalho/chrome-ocdlmjhbenodhlknglojajgokahchlkk-Default.desktop]
row=0
col=0

